<!DOCTYPE html>
<html lang="et">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/hover.css">

    <title>Retseptid</title>

</head>

<body>

<header>

    <!-- Banner img -->
    <div id="banner">

        <!-- Search function and heading parent div -->
        <div class="welcome">

            <div id="searchContainer" class="hoverBlack">

                <!-- Search icon -->
                <div class="search-icon">
                    <img src="../assets/search.png" alt="IKOON">
                </div>
                <!-- Search input field -->
                <input type="text" class="search-input font" placeholder="Otsi retsepte">

            </div>
            <h1 class="font">Minu Retseptid</h1>

        </div>

    </div>

</header>

<!-- Webpage content -->
<section id="pageContent">

    <!-- Filters -->
    <section id="filters">

        <!-- Categories -->
        <div id="categories" class="bordering">

            <!-- Find unique categories -->
            <% const uniqueCategories = [...new Set(recipes.map(recipe => recipe.Category))]; %>

            <!-- Display all unique categories -->
            <% uniqueCategories.forEach(category => { %>
                <button class="filter hoverBlack font fontWeight" onclick="changeColor(this)">
                    <%= category %>
                </button>
            <% }); %>
        </div>

        <!-- Add new recipe -->
        <button id="addRecipe" class="bordering hoverRed font fontWeight" onclick="navigateToAddRecipe()">LISA RETSEPT</button>

        <!-- Recipe type -->
        <select name="Tüüp" id="type" class="bordering hoverBlack font fontWeight">
            <option value="tuup">TÜÜP</option>
            <option value="soolane">SOOLANE</option>
            <option value="magus">MAGUS</option>
        </select>


    </section>

    <!-- The count of all recipes -->
    <p id="recipeCount" class="font">You have <strong>26</strong> recipes</p>

    <!-- Displayed recipes -->
    <section id="recipes">

        <% recipes.forEach(recipe => { %>
            <div class="recipe hoverBlack" id="<%= recipe.id %>">
                <h2 class="font"><%= recipe.Name %></h2>
                <img src="<%= recipe.ImageURL %>" alt="<%= recipe.Name %>">
            </div>
        <% }); %>

    </section>

</section>

<script src="../js/changeColor.js"></script>
<script src="../js/redirect.js"></script>

</body>

</html>