<!DOCTYPE html>
<html lang="et">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/recipe.css">
    <link rel="stylesheet" type="text/css" href="../css/hover.css">

    <title>Retseptid</title>

</head>

<body>

<!-- Navigation -->
<header>

    <div class="navigation">

        <button class="bordering hoverRed font fontWeight navButton" onclick="navigateToIndex()">
            <img src="../assets/backColored.png" class="navButton">
        </button>

        <button class="bordering hoverRed font fontWeight navButton" onclick="navigateToEdit(<%= recipe.ID %>)">
            <img src="../assets/editColored.png" class="navButton">
        </button>

        <button class="bordering hoverRed font fontWeight navButton" onclick="deleteNavigateToIndex(<%= recipe.ID %>)">
            <img src="../assets/deleteColored.png" class="navButton">
        </button>

    </div>

</header>

<!-- Webpage content -->
<section id="pageContent">

    <h1 class="font mainHeading">RETSEPT</h1>

    <section style="display: flex">

        <div class="half1">

            <div class="ingredients boxPadding font hoverBlack">

                <h1>Koostisosad</h1>
                <ul>
                    <% const ingredientsArray = recipe.Ingredients.split(', '); %>
                    <% ingredientsArray.forEach(ingredient => { %>
                        <% const cleanedIngredient = ingredient.trim(); %>
                        <li><%= cleanedIngredient %></li>
                    <% }); %>
                </ul>

            </div>
            <div class="overlay"></div>
            <div class="foodPic">

                <img src="<%= recipe.ImageURL %>" alt="<%= recipe.Name %>">

            </div>

        </div>

        <div class="half2 font">

            <div class="boxPadding hoverBlack noPointer">
                <h1><%= recipe.Name %></h1>
                <div class="timer">
                    <img src="../assets/time.png">
                    <h3><%= recipe.Time %>min</h3>
                </div>
                <p style="white-space: pre-line"><%= recipe.Instructions %></p>
            </div>
            <div class="overlay"></div>

        </div>

    </section>

</section>

<script src="../js/redirect.js"></script>

</body>

</html>